Repository designatucr/designverse2024, pull requests merged in 2023-11, with the labels that each got.

#10 added figma colors
  tailwind.config.js
Labels: repository

#14 initial coming soon page, fixed colors, config etc
  cypress/e2e/admins/Navigation.cy.js
  cypress/e2e/admins/admins/Actions.cy.js
  cypress/e2e/admins/admins/Filter.cy.js
  cypress/e2e/admins/admins/Search.cy.js
  cypress/e2e/admins/admins/Select.cy.js
  cypress/e2e/admins/admins/Sort.cy.js
  cypress/e2e/admins/committees/Actions.cy.js
  cypress/e2e/admins/committees/Filter.cy.js
  cypress/e2e/admins/committees/Search.cy.js
  cypress/e2e/admins/committees/Select.cy.js
  cypress/e2e/admins/committees/Sort.cy.js
  cypress/e2e/admins/judges/Actions.cy.js
  cypress/e2e/admins/judges/Filter.cy.js
  cypress/e2e/admins/judges/Search.cy.js
  cypress/e2e/admins/judges/Select.cy.js
  cypress/e2e/admins/judges/Sort.cy.js
  cypress/e2e/admins/mentors/Actions.cy.js
  cypress/e2e/admins/mentors/Filter.cy.js
  cypress/e2e/admins/mentors/Search.cy.js
  cypress/e2e/admins/mentors/Select.cy.js
  cypress/e2e/admins/mentors/Sort.cy.js
  cypress/e2e/admins/participants/Actions.cy.js
  cypress/e2e/admins/participants/Filter.cy.js
  cypress/e2e/admins/participants/Search.cy.js
  cypress/e2e/admins/participants/Select.cy.js
  cypress/e2e/admins/participants/Sort.cy.js
  cypress/e2e/admins/teams/Actions.cy.js
  cypress/e2e/admins/teams/Filter.cy.js
  cypress/e2e/admins/teams/Search.cy.js
  cypress/e2e/admins/teams/Select.cy.js
  cypress/e2e/admins/teams/Sort.cy.js
  cypress/e2e/admins/volunteers/Actions.cy.js
  cypress/e2e/admins/volunteers/Filter.cy.js
  cypress/e2e/admins/volunteers/Search.cy.js
  cypress/e2e/admins/volunteers/Select.cy.js
  cypress/e2e/admins/volunteers/Sort.cy.js
  public/LOGO.png
  public/UCRLOGO.png
  public/svgs/animals.svg
  public/svgs/frog.svg
  public/svgs/lilly.svg
  public/svgs/logo.svg
  public/svgs/mushrooms1.svg
  public/svgs/mushrooms2.svg
  public/svgs/waterline.svg
  src/app/page.js
  src/components/dynamic/Navigation.jsx
  src/components/static/Apply.jsx
  src/components/static/Countdown.jsx
  src/components/static/Link.jsx
  src/components/static/upcoming/Upcoming.jsx
  src/data/Config.js
  src/data/Releases.js
  tailwind.config.js
Labels: coming soon, Ready to Review

#34 Fuyuki/Layout
  src/app/layout.js
Labels: Ready to Review

#36 bigger icons
  src/components/static/upcoming/Upcoming.jsx
Labels: coming soon, Do Not Merge

#35 lowered green box and centered countdown
  src/components/static/Countdown.jsx
  src/components/static/upcoming/Upcoming.jsx
Labels: coming soon, Do Not Merge

#42 font work sans, logo pics
  public/svgs/FormLogo.svg
  public/svgs/Logo1.svg
  src/app/layout.js
  src/app/user/join/[teamID]/page.js
  src/app/users/join/[teamID]/page.js
  src/components/dynamic/admin/Dashboard.jsx
  src/components/dynamic/admin/Input.jsx
  src/components/dynamic/admin/Table.jsx
  src/components/dynamic/admin/services/Messenger.jsx
  src/components/dynamic/admin/services/Prizes.jsx
  src/components/dynamic/admin/services/checkin/CheckIn.jsx
  src/components/dynamic/admin/services/judging/Judging.jsx
  src/components/dynamic/admin/services/statistics/Statistics.jsx
  src/components/dynamic/form/Form.jsx
  src/components/dynamic/forms/Form.jsx
  src/components/dynamic/user/Dashboard.jsx
  src/components/static/Apply.jsx
  src/components/static/upcoming/Upcoming.jsx
  tailwind.config.js
Labels: bug, repository
